$base-color: #2E5C6E;

body {
    font-family: "PingFang SC", "Helvetica Neue", sans-serif;
    max-width: 1024px;
    margin: 5rem auto;
}

code {
    font-family: "Cascadia Code", monospace;
    font-size: 10pt;
}

table {
    width: 100%;
}

em {
    font-family: "Times New Roman", "PingFang SC", "Helvetica Neue", sans-serif;
}

:not(pre) > code {
    padding: 0 .1rem;
    background-color: rgba(0,0,0,.05);
}

.title {
    font-weight: 300;
    margin: 0;
}

.subtitle {
    font-weight: 300;
    color: rgba(0,0,0,.5);
    margin: 0;
    border-bottom: none;
}

.post-title {
    margin-bottom: 0;
    border-bottom: none;
}

// unordered list
ul:not(.pagination) {
    list-style: none;
}

ul:not(.pagination) > li::before {
    content: "\2022";
    color: $base-color;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

// ordered list
:not(.footnotes) > ol {
    list-style: none;
    counter-reset: li;
}

:not(.footnotes) > ol > li::before {
    content: '.'counter(li);
    color: $base-color;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl;
}

ol > li {
    counter-increment: li;
}

// headings
h1 {
    font-weight: 600;
}

h2 {
    font-size: 16pt;
    font-weight: 500;
    padding-bottom: .3rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

h3 {
    font-size: 15pt;
    font-weight: 450;
}

h4 {
    font-size: 14pt;
    font-weight: 400;
}

h5 {
    font-size: 13pt;
    font-weight: 350;
}

h6 {
    font-size: 12pt;
    font-weight: 300;
}

blockquote {
    border-left: 3px solid $base-color;
    padding: .25rem 40px;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

a {
    color: $base-color;
    text-decoration: none;
}

div:not(.category, .tag) > a:hover {
    color: $base-color;
    text-decoration: underline;
}

.post {
    margin-bottom: 1.5rem;
}

.summary-meta {
    display: flex;
    color: gray;
    font-size: 10pt;
    margin-bottom: 1rem;
    align-items: center;
}

.tags {
    display: flex;
    font-size: 10pt;
    align-items: center;
}

.date {
    margin-right: .5rem;
}

.single.date {
    color: gray;
    font-size: 8pt;
    margin-bottom: 1rem;
}

.category {
    color: $base-color;
    border: 1px solid $base-color;
    border-radius: 5px;
    margin-right: .25rem;
    padding: .1rem .5rem;
}

.tag {
    background-color: $base-color;
    border: 1px solid $base-color;
    border-radius: 20px;
    margin-right: .25rem;
    padding: .05rem .25rem;
}

div.tag > a {
    color: white;
}

.footer {
    color: gray;
    font-size: 8pt;
}

.pagination {
    display: flex;
    padding-left: 0;
}

.pagination li {
    list-style: none;
    display: list-item;
}

.pagination .page-link {
    padding: .25rem .75rem;
    border: 1px solid rgba(0,0,0,.1);
}

i {
    color: $base-color
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social-icon {
    padding: 0 .25rem
}

.menu {
    display: flex;
}

.menu-item {
    margin-right: 1rem;
}

@media (max-width: 1023px) {
    body {
        margin: 2rem;
    }
}
