.footnotes {
  color: $color-text-secondary;
  font-size: small;
  word-break: break-word;
}

sup {
  position: relative;
  line-height: normal;

  .sup-popup {
    display: block !important;
    visibility: hidden;
    font-size: small;
    width: max-content;
    max-width: 300px;
    background-color: $color-background-sup;
    color: white;
    border-radius: 0.5rem;
    position: absolute;
    top: 1.5rem;
    left: 0;
    padding: 0.5rem;
    margin-left: 0;
    word-break: break-all;
    z-index: 100;
  }

  &:hover {
    .sup-popup {
      visibility: visible;
    }
  }
}
