.dark {
  --pagefind-ui-primary: #eee !important;
  --pagefind-ui-text: #eee !important;
  --pagefind-ui-background: #152028 !important;
  --pagefind-ui-border: #152028 !important;
  --pagefind-ui-tag: #152028 !important;
}
