ul.pagination {
  padding: 0;
  margin: 0;
  list-style: none;
  display: box;
  flex-wrap: wrap;
  align-items: center;
  -webkit-box-align: center;
}

li.page-item {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  margin: 0 3px;
  min-width: 32px;
  height: 32px;
  border-radius: 4px;

  .page-link {
    padding: 0 6px;
  }

  &:hover {
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
      border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
    background-color: $color-theme-primary-20;
  }

  &.active {
    background-color: $color-theme-primary-20;
    border: 1px solid $color-theme-primary-20;
  }

  &.disabled {
    span {
      color: $color-text-secondary;
    }

    pointer-events: none;
    cursor: default;
  }
}
