.articles {
  display: grid;
  gap: 2rem;
}

.summary-meta {
  color: $color-text-secondary;
  font-size: 10pt;
}

.summary {
  margin: .5rem 0;
  font-weight: 500;
}

.post-title {
  border-bottom: none;
  margin: 0;
}
