// categories
.category {
  font-weight: 500;
  color: $color-theme-primary;
  border: 2px solid $color-theme-primary;
  border-radius: 5px;
  margin-right: 0.25rem;
  padding: 0 0.5rem;
  user-select: none;

  &:hover {
    color: $color-theme-primary-20;
    border-color: $color-theme-primary-80;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
      border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }
}

// tags
.tags {
  display: flex;
  flex-wrap: wrap;
  font-size: 10pt;
  align-items: center;
  gap: 0.25rem;
}

.tag {
  font-weight: 500;
  color: $color-theme-primary;
  border: 2px solid $color-theme-primary;
  border-radius: 0.75rem;
  padding: 0 0.5rem;
  user-select: none;

  &:hover {
    color: $color-theme-primary-80;
    border-color: $color-theme-primary-80;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out,
      border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }
}

.taxonomy.tag {
  display: inline-flex;
  align-items: center;
}

.count {
  min-width: 1rem;
  height: 1rem;
  line-height: 1rem;
  color: $color-theme-primary;
  border-radius: 0.5rem;
  background-color: $color-theme-primary-40;
  text-align: center;
  margin-left: 0.25rem;
  margin-right: -0.25rem;
}

div.tag > a {
  color: white;
}
