@for $i from 1 through 6 {
  article {
    h#{$i} {
      .fa-hashtag {
        vertical-align: middle;
        visibility: hidden;
      }

      &:hover {
        .fa-hashtag {
          visibility: visible;
        }
      }
    }
  }
}

article .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -24px;
}

aside {
  position: fixed;
  width: 400px;
  margin-left: 800px;
  padding: 16px;
  top: 200px;

  span {
    font-weight: bold;
    color: $color-theme-primary
  }

  ul,
  li {
    line-height: 1.5;

    a {
      color: $color-text-secondary;

      &:hover {
        color: $color-theme-primary;
      }
    }

    padding-left: .5em;
    list-style: none;
  }

  .active {
    color: $color-text-secondary;
  }
}

@media (max-width: 1024px) {
  aside {
    display: none;
  }
}
