@for $i from 1 through 6 {
  article {
    h#{$i} {
      .fa-hashtag {
        vertical-align: middle;
        visibility: hidden;
      }

      &:hover {
        .fa-hashtag {
          visibility: visible;
        }
      }
    }
  }
}

article .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -24px;
  line-height: 1;
}

aside {
  font-size: 14px;
  font-weight: 500;

  position: fixed;
  width: 400px;
  margin-left: 800px;
  padding: 16px;
  top: 200px;

  span {
    font-weight: bold;
    color: $color-text-secondary;
  }

  ul {
    margin-block-start: 0;
    padding-inline-start: 1em;
  }

  li {
    line-height: 2;
    list-style: none;

    a {
      color: rgba($color-text-secondary, .6);

      &:hover {
        color: lighten($color-theme-primary, 10%);
      }

      &.active {
        color: $color-theme-primary;
        transition: color 0.5s ease;
      }
    }
  }


}

@media (max-width: 1024px) {
  aside {
    display: none;
  }
}
