aside {
  position: fixed;
  width: 400px;
  margin-left: 800px;
  padding: 16px;
  top: 200px;

  span {
    font-weight: bold;
    color: $color-theme-primary
  }

  ul,
  li {
    a {
      color: $color-text-secondary;

      &:hover {
        color: $color-theme-primary;
      }
    }

    padding-left: .5em;
    list-style: none;
  }
}

@media (max-width: 1024px) {
  aside {
    display: none;
  }
}
