$primary: #2E5C6E;
$secondary: #B54434;

body {
    font-family: "Roboto", "PingFang SC", "Helvetica Neue", sans-serif;
    max-width: 768px;
    margin: 5rem auto;
    font-weight: 300;
}

p {
    line-height: 1.6;
}

img {
    display: flex;
    margin: 0 auto;
    max-width: 60%;
}

figcaption {
    text-align: center;
}

figcaption > h4 {
    font-size: 12pt;
    color: rgba(0,0,0,.5);
}

// pre + code
pre {
    border-radius: 6px;
    overflow: auto;
    & > code {
        font-weight: 400;
        font-size: 12px;
    }
}

:not(td) > pre {
    padding: 1rem;
}

code {
    font-family: "Fira Code", monospace;
}

div.highlight table {
    border: 1px solid #EAEAEA;
    padding: 0 1rem;
}

:not(pre) > code {
    font-size: 90%;
    margin: 0 2px;
    padding: 0 5px;
    border: 1px solid #EAEAEA;
    color: $primary;
    background-color: #F8F8F8;
}

table {
    width: 100%;
}

em {
    font-family: "Times New Roman", "PingFang SC", "Helvetica Neue", sans-serif;
}

// headings
h1 {
    color: $primary;
    font-weight: 500;
}

h2 {
    color: $primary;
    font-size: 16pt;
    font-weight: 500;
    padding-bottom: .3rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

h3 {
    font-size: 15pt;
    font-weight: 450;
}

h4 {
    font-size: 14pt;
    font-weight: 400;
}

h5 {
    font-size: 13pt;
    font-weight: 350;
}

h6 {
    font-size: 12pt;
    font-weight: 300;
}

blockquote {
    color: gray;
    border-left: 3px solid $primary;
    padding: .25rem 1rem;
    margin-inline-start: 0;
    margin-inline-end: 0;
    p {
        margin-block-start: 0;
        margin-block-end: 0;
    }
}

a {
    color: $primary;
    text-decoration: none;
    &:hover {
        color: rgba($color: $primary, $alpha: .8);
        transition: color 0.5s ease;
    }
}

i {
    color: $primary
}

dt {
    font-weight: bold;
}

hr {
    border: none;
    border-top: 1px solid rgba(0,0,0,.1);
}

.title {
    font-weight: 300;
    margin: 0;
}

.subtitle {
    font-weight: 300;
    color: rgba(0,0,0,.5);
    margin: 0;
    border-bottom: none;
}

.social {
    display: flex;
    justify-content: flex-end;
    margin-bottom: .3rem;
    min-height: 1.5rem;
}

.social-icon {
    padding: 0 .25rem
}

.menu {
    display: flex;
}

.menu-item {
    margin-right: 1rem;
}

.post-title {
    margin-bottom: 0;
    border-bottom: none;
}

.draft-tag {
    font-size: 10pt;
    color: white;
    background-color: $primary;
    border: 1px solid $primary;
    padding: 0 .5rem;
}

.post {
    margin-bottom: 1.5rem;
}

.summary-meta {
    display: flex;
    color: gray;
    font-size: 10pt;
    margin-bottom: 1rem;
    align-items: center;
}

.date {
    margin-right: .5rem;
}

.single.date {
    color: gray;
    font-size: 8pt;
}

// categories
.category {
    color: $primary;
    border: 1px solid $primary;
    border-radius: 5px;
    margin-right: .25rem;
    padding: 0 .5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    user-select: none;
    &:hover {
        background-color: rgba($color: $primary, $alpha: .1);
        transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }
}

// tags
.tags {
    display: flex;
    flex-wrap: wrap;
    font-size: 10pt;
    align-items: center;
}

.tag {
    color: white;
    background-color: $primary;
    border: 1px solid $primary;
    border-radius: .75rem;
    margin: .25rem .25rem .25rem 0;
    padding: 0 .5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    user-select: none;
    &:hover {
        background-color: rgba($color: $primary, $alpha: .8);
        border-color: rgba($color: $primary, $alpha: .8);
        transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
    }
}

.taxonomy.tag {
    display: inline-flex;
    align-items: center;
}

.count {
    min-width: 1rem;
    height: 1rem;
    line-height: 1rem;
    color: $primary;
    border-radius: .5rem;
    background-color: rgba($color: white, $alpha: .75);
    text-align: center;
    margin-left: .5rem;
}

div.tag > a {
    color: white;
}

// footer
.footer {
    color: gray;
    font-size: 8pt;
    margin: 1rem 0;
}

// pagination
.pagination {
    display: flex;
    padding-left: 0;
}

.pagination li {
    list-style: none;
    display: list-item;
}

.pagination .page-link {
    padding: .25rem .75rem;
    border: 1px solid rgba(0,0,0,.1);
}

// list
.list-item {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.list-item-date {
    font-size: 10pt;
    color: rgba($color: black, $alpha: .5);
    margin-right: .25rem;
    min-width: 5rem;
    text-align: left;
}

.not-found {
    color: $secondary;
    border: 3px solid $secondary;
    height: 3rem;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

section.footnotes p {
    margin: 0 auto;
}

aside {
    width: 15%;
    position: fixed;
    right: 0;
    top: 12rem;
    padding: 0 2rem;
}

@media (max-width: 768px) {
    body {
        margin: 2rem;
        font-size: 10pt;
    }

    .title {
        font-size: 14pt;
    }

    .subtitle {
        font-size: 14pt;
    }

    .post-title {
        font-size: 12pt;
    }

    img {
        max-width: -webkit-fill-available;
        max-height: -webkit-fill-available;
    }
}
