.pagination {
    display: flex;
    padding-left: 0;
}

.pagination li {
    list-style: none;
    display: list-item;
}

.pagination .page-link {
    padding: .25rem .75rem;
    border: 1px solid rgba(0,0,0,.1);
}
