{{ define "main" }}
<section id="main">
    <h1 id="title">{{ .Title }}</h1>
    <div class="single date">{{ .Date.Format "2006-01-02" }}</div>
    {{ with .Params.tags }}
        <div class="tags">
            {{ range . }}
            <a href="tags/{{ . | urlize }}">
                <div class="tag">
                    #{{ . }}
                </div>
            </a>
            {{ end }}
        </div>
    {{ end }}
    <div>
        <article id="content">
            {{ .Content }}
        </article>
    </div>
    {{ partial "disqus.html" . }}
</section>
{{ end }}
