{{ define "main" }}
  <section id="main" data-pagefind-body>
    {{ with .Params.featured_image }}
      <div class="featured-image">
        <img src="{{ . }}" />
      </div>
    {{ end }}
    <h1 id="title" data-pagefind-meta="title">{{ .Title }}</h1>
    <div class="summary-meta">
      <span>
        <span data-pagefind-meta="date">{{ .Date.Format "2006-01-02" }}</span>
        {{ range .Params.categories }}
          •
          <a
            href="/categories/{{ . | urlize }}"
            data-pagefind-filter="category">
            {{ . }}
          </a>
        {{ end }}
      </span>
    </div>
    {{ with .Params.tags }}
      <div class="tags">
        {{ range . }}
          <a href="/tags/{{ . | urlize }}">
            <div class="tag" data-pagefind-filter="tag">
              #{{ . }}
            </div>
          </a>
        {{ end }}
      </div>
    {{ end }}
    <div class="container">
      <article
        id="content"
        data-bs-spy="scroll"
        data-bs-target="#TableOfContents">
        {{ .Content }}
      </article>
      <aside>
        <span>Contents</span>
        {{ .TableOfContents }}
      </aside>
    </div>
    {{ if not .Site.IsServer }}
      {{ partial "giscus.html" . }}
    {{ end }}
  </section>
{{ end }}
