<article class="post">
  <header>
    <h2 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ if .Draft }}
      <strong class="draft-tag">
        DRAFT
      </strong>
      {{end}}
    </h2>
    <div class="summary-meta">
      <div class="date">{{ .Date.Format "2006-01-02" }}</div>
      {{ range .Params.categories }}
      <a href="/categories/{{ . | urlize }}">
        <div class="category">
          {{ . }}
        </div>
      </a>
      {{ end }}
    </div>
  </header>
  {{ if isset .Params "description" }}
  {{ .Description }}
  {{ else }}
  {{ .Summary }}
  {{ end }}
  <footer>
    <a href='{{ .Permalink }}'>
      <nobr>Read more →</nobr>
    </a>
  </footer>
</article>
