<article class="post">
  <header>
    <div class="summary-meta">
      <span>
        {{ .Date.Format "2006-01-02" }}
        {{ range .Params.categories }}
          •
          <a href="/categories/{{ . | urlize }}">
            {{ . }}
          </a>
        {{ end }}
      </span>
    </div>
    <h2 class="post-title">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ if .Draft }}
        <strong class="draft-tag"> DRAFT </strong>
      {{ end }}
    </h2>
  </header>
  <div class="summary">
    {{ if isset .Params "description" }}
      {{ .Description }}
    {{ else }}
      {{ .Summary }}
    {{ end }}
  </div>
</article>
