{{ define "main" }}
<main>
    <div>
        <h1>{{ .Title }}</h1>
        {{ with .Data.Terms }}
            <div class="tags">
                {{ range .Alphabetical }}
                    <div class="taxonomy tag">
                        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
                        <div class="count">
                            {{ .Count }}
                        </div>
                    </div>
                {{ end }}
            </div>
        {{ else }}
            {{ range .Pages }}
                {{ .Render "summary"}}
            {{ end }}
        {{ end }}
    </div>
</main>
{{ end }}
