{{ $scss := resources.Get "scss/main.scss" | toCSS | minify | fingerprint }}
<link rel="preload" href="{{ $scss.RelPermalink }}" as="style">
<link rel="stylesheet" href="{{ $scss.RelPermalink }}" integrity="{{ $scss.Data.integrity }}">

{{ partial "jquery.html" . }}

{{ $js := resources.Get "js/main.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $js.Permalink }}"></script>

<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="shortcut" href="/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
<link rel="mask-icon" href="/img/icon.svg">
<link rel="alternate" type="application/rss+xml" title="{{ .Title }}" href="/index.xml" />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Noto+Sans:wght@300;400;500;700&display=swap"
  rel="stylesheet">

{{ partial "font_awesome.html" . }}
{{ partial "bootstrap.html" . }}

{{ if .Params.mermaid }}
{{ partial "mermaid.html" . }}
{{ end }}

{{ if .Params.katex }}
{{ partial "katex.html" . }}
{{ end }}
