<div class="meta">
  <h1 class="title">{{.Site.Title}}</h1>
  <h2 class="subtitle">{{.Site.Params.Subtitle}}</h2>
  <ul class="social">
    {{ range .Site.Params.social }}
    <li>
      <a href="{{ .url }}" title="{{ .name }}">
        <i class="fa-{{ .type }} fa-{{ .icon }}"></i>
      </a>
    </li>
    {{ end }}
    |
    <li>
      <a class="toggle-color-scheme" title="Toggle Color Scheme">
        <i class="fa-solid fa-circle-half-stroke"></i>
      </a>
    </li>
  </ul>
  <nav>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li>
        <a href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</div>
