<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="{{ .Site.Author.name }}" />
<meta
  name="description"
  content="{{ with .Description }}
    {{ . }}
  {{ else }}
    {{ if .IsPage }}
      {{ .Summary }}
    {{ else }}
      {{ with .Site.Params.description }}{{ . }}{{ end }}
    {{ end }}
  {{ end -}}" />
<meta
  name="theme-color"
  content="#ffffff"
  media="(prefers-color-scheme: light)" />
<meta
  name="theme-color"
  content="#2f3437"
  media="(prefers-color-scheme: dark)" />

{{ template "_internal/opengraph.html" . }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}
